{% load static %}
<DOCTYPE html>
	<html lang="en">

	<head>
		<title>
			Explore Map
		</title>
		<link rel="stylesheet" href="{% static 'frontend/css/explore.css' %}" %}>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		 crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		 crossorigin="">

		</script>
    <script src="{% static 'frontend/js/generic.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/generic.css' %}">

	</head>

	<body>
        <div class="g-signin2" id="signin" data-onsuccess="onSignIn" data-theme="dark" style="display: none"></div>
        {% include 'frontend/navbar.html' %}

        <div id="main">
            <button class="openbtn" onclick="openNav();">&#9776;</button>


            <center>
            <a href="https://stressedstrawberries.maxwellzen.repl.co/index.py">
            <img src="{{MEDIA_URL}}/images/logo.png" alt="Italian Trulli" style="width:669px;height:111px;">
            </a>
            <center> <br><br>



            <div class = "a">Explore Map</div>
            <p>Toggle Light/Dark Mode</p>

            <label class="switch">
                <input type="checkbox" id="darkmode" onclick="toggle()">
                <span class="slider round"></span>
            </label>
						<!-- map -->
            <div id="aroundmap" style="margin-top: 20px;"><div id="mapid"></div></div>
        </div>

				<link rel="stylesheet" href="{% static 'frontend/css/map.css' %}" %}>

        <!--script-->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="{% static 'frontend/js/namespace.js' %}"></script>
				<script src="{% static 'frontend/js/maphelper.js' %}"></script>
				<script src="{% static 'frontend/js/nearbySearch.js' %}"></script>
        <script src="{% static 'frontend/js/map.js' %}"></script>

				<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuc7ucUyIaf7xV1WPhjRch8MMUDLdYr2w&libraries=places&v=weekly"

    ></script>
        <script src="{% static 'frontend/js/geolocation-marker.js' %}" ></script>
        <script >
          start();
        </script>

        <br><br>
        <center>
        <h4> Tell us about a new small business by adding their information and icon into out map! </h4> <br>

        <form action="" method="post" enctype="application/x-www-form-urlencoded">
          {% csrf_token %}
          {{RestaurantForm.as_p}}
          <button type="submit">submit</button>
          </form>

        </center>


    <br><br><br><br>
	</body>

</html>
